.md-header,
.md-tabs {
  background-color: #227d51 !important;
}

@media only screen and (max-width: 76.1875em) {
  .md-nav__source,
  .md-tabs {
    background-color: #227d51 !important;
  }

  html .md-nav--primary .md-nav__title {
    background-color: #2e8b5e !important;
    color: #ffffff;
  }
}
